# Web
NEXT_PUBLIC_API_URL=http://localhost:8000

# API
APP_ENV=development
APP_PORT=8000
DATABASE_URL=postgresql://postgres:postgres@db:5432/ootd
JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-too
